@model ELand.Models.Contact

@{
    ViewBag.Title = "IsSeen";
}

<div class="container">
    <div>
        <h4>Contact</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Message)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Message)
            </dd>
        </dl>
        <form method="post">
            <input type="text" id="rmessage" class="form-control" name="rmessage" placeholder="Enter Reply" />
            @Html.HiddenFor(model=>model.Email)
            <input type="submit" class="btn btn-primary" value="Reply" />
        </form>

    </div>


</div>
