
@{
    ViewBag.Title = "Home";
}


<hr />
<!-- /.row -->
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@ViewBag.UserCount</div>
                        <div>All Users</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "User", new { area="Admin"})">
                <div class="panel-footer">
                    <span class="pull-left">View Users</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-envelope fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@ViewBag.MessageCount</div>
                        <div>New Messages!</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "Contact", new { area="Admin"})">
                <div class="panel-footer">
                    <span class="pull-left">View All Messages</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-building fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@ViewBag.PropertyCount</div>
                        <div>All Properties</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "Property", new { area = "Admin" }) ">
                <div class=" panel-footer">
                <span class="pull-left">View Properties</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
</div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-user-secret fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@ViewBag.Agency</div>
                        <div>Agencies</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "Agency", new { area = "Admin" })">
                <div class=" panel-footer">
                <span class="pull-left">View Agencies</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
</div>
            </a>
        </div>
    </div>
</div>
<!-- /.row -->
