
<!DOCTYPE html>

<html class="no-js" lang="en">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="Eland - Developers HTML Template">
    <meta name="author" content="CreateIT">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no">

    <title>ELand : @ViewBag.title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @*<link href="@Url.Content("~/Content/kendo/2015.2.902/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.2.902/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.2.902/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.2.902/kendo.default.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.2.902/kendo.dataviz.default.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/kendo/2015.2.902/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.2.902/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.2.902/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.2.902/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>*@
    <link rel="icon" href="~/Images/logo.png">

</head>


<body class="ct-headroom--scrollUpMenu cssAnimate">
  
    <nav class="ct-menuMobile">
        <ul class="ct-menuMobile-navbar">
            <li class="dropdown active">
                <a>Home<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="active"><a href="index.html">Home V1 - Portal Slider</a></li>
                    <li><a href="index2.html">Home V2 - Portal Map</a></li>
                    <li><a href="index3.html">Home V3 - Portal Map (Light)</a></li>
                    <li><a href="index4.html">Home V4 - Real Eland Agency</a></li>
                    <li><a href="index5.html">Home V5 - Property Slider</a></li>
                    <li><a href="index6.html">Home V6 - Simple Onepager</a></li>
                    <li><a href="index7.html">Home V7 - Onepager Video</a></li>
                    <li><a href="index8.html">Home V8 - Side Map</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a>Properties<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="product-single.html">Property Page V1</a></li>
                    <li><a href="product-single2.html">Property Page V2</a></li>
                    <li><a href="search-grid.html">Properties Page - Grid</a></li>
                    <li><a href="search-list.html">Properties Page - Listing</a></li>
                    <li><a href="properties.html">My Properties Page</a></li>
                    <li><a href="product-singleEdit.html">Front Editing - Property Page V1</a></li>
                    <li><a href="product-single2Edit.html">Front Editing - Property Page V2</a></li>
                    <li><a href="submission.html">Submission Page</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a>Agents<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="agency.html">Agency Page</a></li>
                    <li><a href="agent.html">Agent's Profile</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="agency-edit.html">Front Editing - Agency Page</a></li>
                    <li><a href="agent-edit.html">Front Editing - Agent's Profile</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a>Features<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="features-grid.html"><i class="fa fa-fw fa-th"></i> Grid System</a></li>
                    <li><a href="features-typography.html"><i class="fa fa-fw fa-font"></i> Typography</a></li>
                    <li><a href="features-buttons.html"><i class="fa fa-fw fa-link"></i> Buttons</a></li>
                    <li><a href="features-forms.html"><i class="fa fa-fw fa-align-justify"></i> Forms</a></li>
                    <li><a href="features-tables.html"><i class="fa fa-fw fa-table"></i> Tables</a></li>
                    <li><a href="features-sliders.html"><i class="fa fa-fw fa-navicon"></i> Sliders</a></li>
                    <li>
                        <a href="features-pricetables.html"><i class="fa fa-fw fa-money"></i> Pricing Tables</a>
                    </li>
                    <li>
                        <a href="features-iconboxes.html"><i class="fa fa-fw fa-th-large"></i> Icon Boxes</a>
                    </li>
                    <li>
                        <a href="features-personboxes.html"><i class="fa fa-fw fa-users"></i> Person Boxes</a>
                    </li>
                    <li><a href="features-counters.html"><i class="fa fa-fw fa-plus"></i> Counters</a></li>
                    <li>
                        <a href="features-toggable.html"><i class="fa fa-fw fa-toggle-on"></i> Toggables</a>
                    </li>
                    <li>
                        <a href="features-m-sections.html"><i class="fa fa-fw fa-play"></i> Media Sections</a>
                    </li>
                    <li><a href="features-charts.html"><i class="fa fa-fw fa-area-chart"></i> Charts</a></li>
                    <li><a href="features-p-bars.html"><i class="fa fa-fw fa-bars"></i> Progress Bars</a></li>
                    <li>
                        <a href="features-p-icons.html">
                            <i class="fa fa-fw fa-star-half-full"></i> Progress
                            Icons
                        </a>
                    </li>
                    <li><a href="features-lists.html"><i class="fa fa-fw fa-list"></i> Lists Simple</a></li>
                    <li><a href="features-lists2.html"><i class="fa fa-fw fa-list"></i> Lists Icons</a></li>
                    <li>
                        <a href="features-developers.html"><i class="fa fa-fw fa-code"></i> For developers</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a>Pages<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="pricing.html">Pricing Tables</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                    <li><a href="terms.html">Terms</a></li>
                    <li><a href="policy.html">Privacy Policy</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="blog-single.html">Blog Single</a></li>
                    <li><a href="registration.html">Registration</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="404.html">404</a></li>
                    <li><a href="maintenance.html">Maintenance</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a>Gallery<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="gallery1.html">Gallery - Three Colums</a></li>
                    <li><a href="gallery2.html">Gallery - Four Colums</a></li>
                    <li><a href="gallery3.html">Gallery - Five Colums</a></li>
                </ul>
            </li>
            <li class="dropdown"><a href="contact.html">Contact Us</a></li>
        </ul>
    </nav>

    <form class="ct-searchFormMobile ct-u-marginBottom50" role="form">
        <div class="form-group ">
            <div class="ct-form--label--type1">
                <div class="ct-u-displayTableVertical">
                    <div class="ct-u-displayTableCell">
                        <div class="ct-input-group-btn">
                            <button class="btn btn-primary">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="ct-u-displayTableCell text-center">
                        <span class="text-uppercase">Search for property</span>
                    </div>
                </div>
            </div>
            <div class="ct-u-displayTableVertical ct-u-marginBottom20">
                <div class="ct-u-displayTableCell">
                    <div class="ct-form--item">
                        <label>Property id</label>
                        <input type="text" required class="form-control input-lg" placeholder="Any">
                    </div>
                </div>
                <div class="ct-u-displayTableCell">
                    <div class="ct-form--item">
                        <label>Location</label>
                        <select class="ct-js-select ct-select-lg">
                            <option value="any">Any</option>
                            <option value="1">New York</option>
                            <option value="2">New Jersey</option>
                            <option value="3">Newark</option>
                            <option value="4">Philadelphia</option>
                        </select>
                    </div>
                </div>
                <div class="ct-u-displayTableCell">
                    <div class="ct-form--item">
                        <label>Sub-Location</label>
                        <select class="ct-js-select ct-select-lg">
                            <option value="any">Any</option>
                            <option value="1">New York</option>
                            <option value="2">Jersey</option>
                            <option value="3">Newark</option>
                            <option value="4">Philadelphia</option>
                        </select>
                    </div>
                </div>
                <div class="ct-u-displayTableCell">
                    <div class="ct-form--item">
                        <label>Property Status</label>
                        <select class="ct-js-select ct-select-lg">
                            <option value="any">Any</option>
                            <option value="1">Sale</option>
                            <option value="2">New</option>
                            <option value="3">Loan</option>
                        </select>
                    </div>
                </div>
                <div class="ct-u-displayTableCell">
                    <div class="ct-form--item">
                        <label>Property type </label>
                        <select class="ct-js-select ct-select-lg">
                            <option value="any">Any</option>
                            <option value="1">Houses</option>
                            <option value="2">Industrial</option>
                            <option value="3">Retail</option>
                            <option value="4">Apartments</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="ct-u-displayTableVertical ct-slider--row">
                <div class="ct-u-displayTableCell">
                    <div class="ct-form--item">
                        <label>Bedrooms</label>
                        <select class="ct-js-select ct-select-lg">
                            <option value="any">Any</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3+</option>
                        </select>
                    </div>
                </div>
                <div class="ct-u-displayTableCell">
                    <div class="ct-form--item">
                        <label>Bathrooms</label>
                        <select class="ct-js-select ct-select-lg">
                            <option value="any">Any</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3+</option>
                        </select>
                    </div>
                </div>
                <div class="ct-u-displayTableCell ct-u-marginBottom40">
                    <div class="ct-form--item ct-sliderAmount">
                        <label>Price ($)</label>
                        <input type="text" value="1000000" required class="form-control input-lg ct-js-slider-min ct-u-marginBottom20" placeholder="">
                        <input type="text" class="slider ct-js-sliderAmount" value="" data-slider-tooltip="hide" data-slider-handle="square" data-slider-min="5000" data-slider-max="5000000" data-slider-step="5000" data-slider-value="[1000000,2000000]">
                        <label class="pull-left">Min</label>
                        <label class="pull-right">Max</label>
                        <input type="text" value="2000000" required class="form-control input-lg ct-js-slider-max" placeholder="">
                    </div>
                </div>
                <div class="ct-u-displayTableCell">
                    <input type="text" class="slider ct-js-sliderTicks" value="" data-slider-handle="square" data-slider-min="0" data-slider-max="200" data-slider-step="20" data-slider-value="[60,120]" />
                    <label class="text-center center-block">Area (m2)</label>
                </div>
                <div class="ct-u-displayTableCell">
                    <button type="submit" class="btn btn-warning text-capitalize pull-right">search now</button>
                </div>
            </div>
        </div>
    </form>


    <div id="ct-js-wrapper" class="ct-pageWrapper">

        <div class="ct-navbarMobile">
            <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img src="assets/images/demo-content/logo.png" alt="Eland"> </a>
            <button type="button" class="searchForm-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span><i class="fa fa-search"></i></span>
            </button>
        </div>

        <div class="ct-topBar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7 col-md-8">
                        <div class="ct-panel--contact ct-panel--left">
                            <div class="ct-panel--item ct-email">
                                <a href="#"><i class="fa fa-envelope-o"></i> example@example.com</a>
                            </div>
                            <ul class="nav navbar-nav ct-switcher--language">
                                <li class="dropdown">
                                    <a href="#">
                                        <i class="fa fa-globe"></i>
                                        English
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#">
                                                English
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Spanish
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                German
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div id="ct-js-navSearch">
                                <i class="fa fa-search"></i>
                                <input placeholder="Search ..." required type="text" name="field[]" class="form-control input-lg ct-input--search">
                            </div>
                            <div class="ct-navbar-search">
                                <form role="form">
                                    <button class="ct-navbar-search-button" type="submit">
                                        <i class="fa fa-search fa-fw"></i>
                                    </button>
                                    <div class="form-group">
                                        <input id="search" placeholder="Search ..." required type="text" class="form-control input-lg">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-md-4">
                        <div class="ct-panel--user ct-panel--right text-right">
                        
                         @Html.Partial("_LoginPartial")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar yamm" role="navigation" data-heighttopbar="40px" data-startnavbar="0">
            <div class="container">
                <div class="navbar-header ct-panel--navbar">
                    <a href="index.html">
                        <img src="~/Images/MainPage/logo.png" alt="logo" />
                    
                    </a>
                </div>
                <div class="ct-panelBox">
                    @*<div class="ct-panel--text ct-panel--navbar ct-fw-600"><a href="#">0 800 123 4567</a></div>*@
                    <ul class="ct-panel--socials ct-panel--navbar list-inline list-unstyled">
                        <li><a href="https://www.facebook.com/createITpl"><div class="ct-socials ct-socials--circle"><i class="fa fa-facebook"></i></div></a></li>
                        <li><a href="https://twitter.com/createitpl"><div class="ct-socials ct-socials--circle"><i class="fa fa-twitter"></i></div></a></li>
                        <li><a href="#"><div class="ct-socials ct-socials--circle"><i class="fa fa-instagram"></i></div></a></li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav ct-navbar--fadeInUp">
                        <li class="dropdown active">
                            <a href="index.html">Home</a>
                            @*<ul class="dropdown-menu">
                                <li>
                                    <div class="yamm-content">
                                        <div class="ct-u-displayTableVertical">
                                            <div class="ct-u-displayTableCell">
                                                <ul class="list-unstyled pull-left">
                                                    <li class="active"><a href="index.html">Home V1 - Portal Slider</a></li>
                                                    <li><a href="index2.html">Home V2 - Portal Map</a></li>
                                                    <li><a href="index3.html">Home V3 - Portal Map (Light)</a></li>
                                                    <li><a href="index4.html">Home V4 - Real Eland Agency</a></li>
                                                    <li><a href="index5.html">Home V5 - Property Slider</a></li>
                                                    <li><a href="index6.html">Home V6 - Simple Onepager</a></li>
                                                    <li><a href="index7.html">Home V7 - Onepager Video</a></li>
                                                    <li><a href="index8.html">Home V8 - Side Map</a></li>
                                                </ul>
                                            </div>
                                            <div class="ct-u-displayTableCell">
                                                <ul class="list-unstyled pull-left">
                                                    <li><a href="index.html">Header - ScrollUp Menu</a></li>
                                                    <li><a href="index2.html">Header - ScrollUp TopBar</a></li>
                                                    <li><a href="index3.html">Header - ScrollUp Both</a></li>
                                                    <li><a href="index4.html">Header - Fixed TopBar</a></li>
                                                    <li><a href="index5.html">Header - Hide Menu</a></li>
                                                    <li><a href="index6.html">Header - Fixed Menu</a></li>
                                                    <li><a href="index7.html">Header - Fixed Both</a></li>
                                                </ul>
                                            </div>
                                            <div class="ct-u-displayTableCell">
                                                <img class="pull-right" src="~/Images/MainPage/megamenu-image.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="ct-menuBrand ct-u-displayTableVertical">
                                            <div class="ct-u-displayTableCell">
                                                <a href="index.html">
                                                    <img src="~/Images/MainPage/logo.png" alt="logo">
                                                </a>
                                            </div>
                                            <div class="ct-u-displayTableCell">
                                                <div class="ct-panel--text ct-panel--navbar ct-fw-600"><a href="index.html">Real Eland Theme</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>*@
                        </li>
                        <li class="dropdown">
                            <a href="properties.html">Properties<span class="caret ct-menu--arrow"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Add_Property","Property")">Add Property</a></li>
                                <li class="dropdown-submenu">
                                    <a href="gallery1.html">Gallery</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="gallery1.html">Gallery - Three Colums</a></li>
                                        <li><a href="gallery2.html">Gallery - Four Colums</a></li>
                                        <li><a href="gallery3.html">Gallery - Five Colums</a></li>
                                    </ul>
                                </li>
                                <li><a href="faq.html">FAQ</a></li>
                                <li><a href="terms.html">Terms</a></li>
                                <li><a href="policy.html">Privacy Policy</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="blog-single.html">Blog Single</a></li>
                                <li><a href="registration.html">Registration</a></li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="404.html">404</a></li>
                                <li><a href="maintenance.html">Maintenance</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="agent.html">Agents<span class="caret ct-menu--arrow"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="pricing.html">Pricing Tables</a></li>
                                <li class="dropdown-submenu">
                                    <a href="gallery1.html">Gallery</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="gallery1.html">Gallery - Three Colums</a></li>
                                        <li><a href="gallery2.html">Gallery - Four Colums</a></li>
                                        <li><a href="gallery3.html">Gallery - Five Colums</a></li>
                                    </ul>
                                </li>
                                <li><a href="faq.html">FAQ</a></li>
                                <li><a href="terms.html">Terms</a></li>
                                <li><a href="policy.html">Privacy Policy</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="blog-single.html">Blog Single</a></li>
                                <li><a href="registration.html">Registration</a></li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="404.html">404</a></li>
                                <li><a href="maintenance.html">Maintenance</a></li>
                            </ul>
                        </li>
                        <li class="dropdown yamm-fw">
                            <a href="features-typography.html">Features<span class="caret ct-menu--arrow"></span></a></li>
                        <li class="dropdown">
                            <a href="about.html">Pages<span class="caret ct-menu--arrow"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="pricing.html">Pricing Tables</a></li>
                                <li class="dropdown-submenu">
                                    <a href="gallery1.html">Gallery</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="gallery1.html">Gallery - Three Colums</a></li>
                                        <li><a href="gallery2.html">Gallery - Four Colums</a></li>
                                        <li><a href="gallery3.html">Gallery - Five Colums</a></li>
                                    </ul>
                                </li>
                                <li><a href="faq.html">FAQ</a></li>
                                <li><a href="terms.html">Terms</a></li>
                                <li><a href="policy.html">Privacy Policy</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="blog-single.html">Blog Single</a></li>
                                <li><a href="registration.html">Registration</a></li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="404.html">404</a></li>
                                <li><a href="maintenance.html">Maintenance</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="contact.html">Contact Us</a></li>
                    </ul>
                    <a class="btn btn-primary btn-transparent--border ct-u-text--motive" href="submission.html">List Property</a>
                </div>
                <div class="clearfix"></div>
                <div class="ct-shapeBottom"></div>
            </div>
        </nav>
        <div id="result">
            @RenderBody()
        </div>

        <footer>
            <div class="ct-footer--extended ct-u-paddingBoth60">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <h4 class="text-uppercase ct-u-marginBottom30">About Eland</h4>
                            <div class="ct-u-marginBottom30">
                                <span>Eland is new and powerfull real Eland theme. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum nulla vel.</span>
                            </div>
                            <ul class="list-unstyled">
                                <li class="ct-u-marginBottom10">
                                    <i class="fa fa-home"></i>
                                    <span class="ct-fw-600">Address:</span><span> 1234 Street Name, San Fransico, United States</span>
                                </li>
                                <li class="ct-u-marginBottom10">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="ct-fw-600">E-mail:</span><span> example@example.com</span>
                                </li>
                                <li>
                                    <i class="fa fa-fax"></i>
                                    <span class="ct-fw-600">Fax:</span><span> 0 123 456 7890</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <h4 class="text-uppercase ct-u-marginBottom30">Contact us</h4>
                            <ul class="list-unstyled ct-phoneNumbers ct-u-marginBottom30">
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <span class="ct-fw-600"></span>
                                </li>
                                <li>
                                    <i class="fa fa-fax"></i>
                                    <span class="ct-fw-600"></span>
                                </li>
                                <li>
                                    <i class="fa fa-mobile"></i>
                                    <span class="ct-fw-600">+1 500 700 800</span>
                                </li>
                            </ul>
                            <ul class="ct-panel--socials ct-panel--navbar list-inline list-unstyled ct-u-marginBottom30">
                                <li><a href="https://www.facebook.com/createITpl"><div class="ct-socials ct-socials--circle"><i class="fa fa-facebook"></i></div></a></li>
                                <li><a href="https://twitter.com/createitpl"><div class="ct-socials ct-socials--circle"><i class="fa fa-twitter"></i></div></a></li>
                                <li><a href="#"><div class="ct-socials ct-socials--circle"><i class="fa fa-instagram"></i></div></a></li>
                            </ul>
                            <div class="ct-contactList ">
                                <a href="#"><i class="fa fa-envelope-o"></i>questions@Eland.com</a>
                                <a href="#"><i class="fa fa-envelope-o"></i>sales@Eland.com</a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3 ">
                            <h4 class="text-uppercase ct-u-marginBottom30">Quick links</h4>
                            <div class="row">
                                <div class="ct-links">
                                    <div class="col-md-6">
                                        <a class="text-capitalize" href="#">List Property</a>
                                        <a class="text-capitalize" href="#">Home</a>
                                        <a class="text-capitalize" href="#">Properties</a>
                                        <a class="text-capitalize" href="#">Agents</a>
                                        <a class="text-capitalize" href="#">Fratures</a>
                                        <a class="text-capitalize" href="#">About Us</a>
                                        <a class="text-capitalize" href="#">Contact Us</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a class="text-capitalize" href="#">Login</a>
                                        <a class="text-capitalize" href="#">Register</a>
                                        <a class="text-capitalize" href="#">Pricing</a>
                                        <a class="text-capitalize" href="#">Terms & Conditions</a>
                                        <a class="text-capitalize" href="#">Privacy Policy</a>
                                        <a class="text-capitalize" href="#">Purchase Eland</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <h4 class="text-uppercase ct-u-marginBottom30">Latest Listings</h4>
                            <div class="ct-itemProducts--small ct-itemProducts--small-type2">
                                <a href="product-single.html">
                                    <div class="ct-main-content">
                                        <div class="ct-imageBox">
                                            <img src="assets/images/demo-content/recently-reduced-thumbnail-4.jpg" alt="">
                                        </div>
                                        <div class="ct-main-text">
                                            <div class="ct-product--tilte">
                                                1856 Misty Concession, Colonsay
                                            </div>
                                            <div class="ct-product--price">
                                                <span>$ 650/month</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="ct-itemProducts--small ct-itemProducts--small-type2">
                                <a href="product-single.html">
                                    <div class="ct-main-content">
                                        <div class="ct-imageBox">
                                            <img src="assets/images/demo-content/recently-reduced-thumbnail-5.jpg" alt="">
                                        </div>
                                        <div class="ct-main-text">
                                            <div class="ct-product--tilte">
                                                3046 Merry Landing, High Lonesome Wells
                                            </div>
                                            <div class="ct-product--price">
                                                <span>$ 650/month</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="ct-itemProducts--small ct-itemProducts--small-type2">
                                <a href="product-single.html">
                                    <div class="ct-main-content">
                                        <div class="ct-imageBox">
                                            <img src="assets/images/demo-content/recently-reduced-thumbnail-6.jpg" alt="">
                                        </div>
                                        <div class="ct-main-text">
                                            <div class="ct-product--tilte">
                                                5454 Fallen Deer Wood, Flat Nose
                                            </div>
                                            <div class="ct-product--price">
                                                <span>$ 650/month</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ct-postFooter ct-u-paddingBoth20">
                <a href="#" class="ct-scrollUpButton ct-js-btnScrollUp">
                    <span class="ct-sectioButton--square">
                        <i class="fa fa-angle-double-up"></i>
                    </span>
                </a>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-sm-push-6">
                            <div class="ct-newsletter text-right">
                                <span class="text-uppercase ct-u-text--white ct-fw-600">Join our newsletter</span>
                                <input id="newsletter" placeholder="Your E-mail Address" required type="text" name="field[]" class="form-control input-lg">
                                <button type="submit" class="btn btn-primary btn-transparent--border ct-u-text--motive text-capitalize">Subscribe</button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-sm-pull-6">
                            <span class="ct-copyright">&copy; 2015 Eland. All rights reserved. We accept:  </span>
                            <ul class="icons list-unstyled list-inline">
                                <li>
                                    <i class="fa fa-cc-stripe" data-toggle="tooltip" data-placement="top" title="Stripe"></i>
                                </li>
                                <li>
                                    <i class="fa fa-cc-paypal" data-toggle="tooltip" data-placement="top" title="PayPal"></i>
                                </li>
                                <li>
                                    <i class="fa fa-cc-mastercard" data-toggle="tooltip" data-placement="top" title="Mastercard"></i>
                                </li>
                                <li>
                                    <i class="fa fa-cc-visa" data-toggle="tooltip" data-placement="top" title="Visa"></i>
                                </li>
                                <li>
                                    <i class="fa fa-cc-discover" data-toggle="tooltip" data-placement="top" title="Discover"></i>
                                </li>
                                <li>
                                    <i class="fa fa-cc-amex" data-toggle="tooltip" data-placement="top" title="Amex"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
   






    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/Myfiles")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)




</body>
</html>

