<header>
    <div class="ct-js-owl" data-items="1" data-navigation="true" data-autoplay="true" data-lazyload="true" data-animations="true">
        <div class="item">
            <div class="ct-owl--background">
                <img src="~/Images/Sliders/header-slider-1.jpg" />
            </div>
            <div class="ct-owl--description">
                <div class="ct-owl--description--inner">
                    <div class="ct-owl--descriptionItem">
                        <div class="container">
                            <img class="ct-u-marginBottom20 animated" data-fx="fadeInDown" data-time="300" src="~/Images/Sliders/logo-slider.png" alt="">
                            <h2 class="ct-u-marginBottom20 animated" data-fx="fadeInDown" data-time="300">Your <span>Real Eland</span> Partner</h2>
                            <a class="btn btn-default btn-transparent--border ct-u-text--white animated" data-fx="fadeInUp" data-time="300" href="@Url.Action("Contact","Home")">Contact Us</a>
                            <a class="btn btn-success ct-btn--green animated" data-fx="fadeInUp" data-time="300" href="@Url.Action("List","Property")">List Property</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ct-owl--background">
                <img src="~/Images/Sliders/header-slider-3.jpg" alt="">
            </div>
            <div class="ct-owl--description">
                <div class="ct-owl--description--inner">
                    <div class="ct-owl--descriptionItem">
                        <div class="container">
                            <div class="ct-textHeader">
                                <h1 class="text-capitalize ct-u-marginBottom30 animated" data-fx="fadeInDown">Our Agents Are At Your Service</h1>
                                <a class="btn btn-success ct-btn--green animated" data-fx="fadeInLeft" href="@Url.Action("List","Property")">List Property</a>
                                <a class="btn btn-default btn-transparent--border ct-u-text--white animated" data-fx="fadeInRight" href="@Url.Action("List","Agent")">See Agents</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ct-owl--background ct-mediaSection" data-height="540" data-type="video" data-bg-image-mobile="/Images/Sliders/header-slider-1.jpg">
                <div class="ct-mediaSection-video embed-responsive embed-responsive-16by9">
                    <!--Video from https://vimeo.com/34741214, author: Studio Aiko, only used for showcase demo.-->
                    <!-- in order for video to be muted you must add  &amp;api=1&amp;player_id=vimeoplayer1 to the end of the video src
                            If you have more than one video, make sure that player_id and id have dif names on each video
                    -->
                    <video id="video1" muted loop autoplay="autoplay" preload="auto">
                        <source src='~/Video/showcase.mp4' type='video/mp4' />
                        <source src='~/Video/showcase.webm' type='video/webm' />
                    </video>
                </div>
            </div>
            <div class="ct-owl--description">
                <div class="ct-owl--description--inner">
                    <div class="ct-owl--descriptionItem">
                        <div class="container">
                            <div class="ct-textHeader ct-textHeader--Square animated" data-fx="zoomIn">
                                <img src="~/Images/Sliders/logo-sliderLight.png" alt="Logo">
                                <h2 class="text-uppercase" data-fx="fadeInUp">A great Place to be</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="container">
        <form class="ct-formSearch--extended ct-u-marginBottom50" method="get" action="@Url.Action("List","Property")" role="form">
            <div class="form-group ">
                <div class="ct-form--label--type1">
                    <div class="ct-u-displayTableVertical">
                        <div class="ct-u-displayTableCell">
                            <div class="ct-input-group-btn">
                                <button class="btn btn-primary">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                        <div class="ct-u-displayTableCell text-center">
                            <span class="text-uppercase">Search for property</span>
                        </div>
                    </div>
                </div>
                <div class="ct-u-displayTableVertical ct-u-marginBottom20">
                    <div class="ct-u-displayTableCell">
                        <div class="ct-form--item">
                            <label>Property id</label>
                            <input type="text" name="Id" class="form-control input-lg" placeholder="Any">
                        </div>
                    </div>
                    <div class="ct-u-displayTableCell">
                        <div class="ct-form--item">
                            <label>Location</label>
                            @Html.DropDownList("CityId", null, "Any", htmlAttributes: new { @class = "ct-js-select ct-select-lg" })
                        </div>
                    </div>
                 
                    <div class="ct-u-displayTableCell">
                        <div class="ct-form--item">
                            <label>Property Status</label>
                            @Html.DropDownList("PropertyStatus", null, "Any", htmlAttributes: new { @class = "ct-js-select ct-select-lg" })
                        </div>
                    </div>
                    <div class="ct-u-displayTableCell">
                        <div class="ct-form--item">
                            <label>Property type </label>
                            @Html.DropDownList("PropertyType", null, "Any", htmlAttributes: new { @class = "ct-js-select ct-select-lg" })


                        </div>
                    </div>
                </div>
                <div class="ct-u-displayTableVertical ct-slider--row ct-sliderAmount">
                    <div class="ct-u-displayTableCell">
                        <div class="ct-form--item">
                            <label>Bedrooms</label>
                            <select name="BedRoom" class="ct-js-select ct-select-lg">
                                <option value="0">Any</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3+</option>
                            </select>
                        </div>
                    </div>
                    <div class="ct-u-displayTableCell">
                        <div class="ct-form--item">
                            <label>Bathrooms</label>
                            <select name="BathRoom" class="ct-js-select ct-select-lg">
                                <option value="0">Any</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3+</option>
                            </select>
                        </div>
                    </div>
                    <div class="ct-u-displayTableCell">
                        <div class="ct-form--item">
                            <label>Price ($)</label>
                            <input type="text" value="1000" required class="form-control input-lg ct-js-slider-min" placeholder="">
                        </div>
                    </div>
                    <div class="ct-u-displayTableCell">
                        <input type="text" name="Price" class="slider ct-js-sliderAmount" value="" data-slider-tooltip="hide" data-slider-handle="square" data-slider-min="1000" data-slider-max="500000000" data-slider-step="100000" data-slider-value="[1000,20000000]">
                        <label>Min</label>
                        <label class="pull-right">Max</label>
                    </div>
                    <div class="ct-u-displayTableCell">
                        <div class="ct-form--item">
                            <input type="text" value="20000000" required class="form-control input-lg ct-js-slider-max" placeholder="">
                        </div>
                    </div>
                    <div class="ct-u-displayTableCell">
                     
                    </div>
                    <div class="ct-u-displayTableCell">
                        <button type="submit" class="btn btn-warning text-capitalize pull-right">search now</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="ct-section--products">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="ct-heading ct-u-marginBottom30">
                        <h3 class="text-uppercase">properties</h3>
                        <a href="@Url.Action("List","Property")" class="pull-right"><i class="fa fa-angle-right"></i>View More</a>
                    </div>
                    <div class="row">

                        @foreach (var item in (List<ELand.Models.Property>)ViewBag.Properties) { 


                        <div class="col-sm-6 col-md-6 col-lg-4">
                            <div class="ct-itemProducts ct-u-marginBottom30 ct-hover">
                                @if (item.Purpose.Title == "Sale")
                                {
                                    <label class="control-label sale">
                                        Sale
                                    </label>}
                                else
                                {

                                    <label class="control-label new">
                                        @item.Purpose.Title
                                    </label>
                                }
                                <a href="@Url.Action("Index", "Property", new { id=@item.Id})">
                                    <div class="ct-main-content">
                                        <div class="ct-imageBox">
                                            <img src="~/Images/Property/@item.GlobalId/@item.MainImage" alt=""><i class="fa fa-eye"></i>
                                        </div>
                                        <div class="ct-main-text">
                                            <div class="ct-product--tilte">
                                                @{string s = item.Address; if (item.Address.Length > 12) { s = item.Address.Substring(0, 12); }}@s, @item.City.Name
                                                  </div>
                                            <div class="ct-product--price">
                                                <span>@item.Price PKR</span>
                                            </div>
                                            <div class="ct-product--description">
                                                @{string r = item.Description; if (r.Length > 55) { r = item.Description.Substring(0, 55); }}@r
 </div>
                                        </div>
                                    </div>
                                    <div class="ct-product--meta">
                                        <div class="ct-icons">
                                            <span>
                                                <i class="fa fa-bed"></i> @item.Bed
                                            </span>
                                            <span>
                                                <i class="fa fa-cutlery"></i> @item.Kitchen
                                            </span>
                                        </div>
                                        <div class="ct-text">
                                            <span> Area: <span>@item.Area @item.AreaUnit.Title</span></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</section>
<section class="ct-u-paddingBoth60 ct-js-section" data-bg-color="#f3f3f3">
    <div class="container">
        <div class="ct-heading ct-u-marginBottom30">
            <h3 class="text-uppercase">latest listings</h3>
            <a href="@Url.Action("List","Property")" class="pull-right"><i class="fa fa-angle-right"></i>View More</a>
        </div>
        <div class="ct-js-owl ct-owl-controls--type2" data-single="false" data-items="4" data-pagination="false">
           
            @foreach (var item in (List<ELand.Models.Property>)ViewBag.LatestProperties)
            {
             <div class="item">
                <div class="ct-itemProducts ct-u-marginBottom30 ct-hover">
                    @if (item.Purpose.Title == "Sale")
                    {
                        <label class="control-label sale">
                            Sale
                        </label>}
                    else
                    {

                        <label class="control-label new">
                            @item.Purpose.Title
                        </label>
                    }
                    <a href="@Url.Action("Index", "Property", new { id=@item.Id})">
                        <div class="ct-main-content">
                            <div class="ct-imageBox">
                                <img src="~/Images/Property/@item.GlobalId/@item.MainImage" alt=""><i class="fa fa-eye"></i>
                            </div>
                            <div class="ct-main-text">
                                <div class="ct-product--tilte">
                                    @{string s = item.Address; if (item.Address.Length > 12) { s = item.Address.Substring(0, 12); }}@s, @item.City.Name
                                     </div>
                                <div class="ct-product--price">
                                    <span>@item.Price PKR</span>
                                </div>
                                <div class="ct-product--description">
                                    @{string r = item.Description; if (r.Length > 55) { r = item.Description.Substring(0, 55); }}@r
                                          </div>
                            </div>
                        </div>
                        <div class="ct-product--meta">
                            <div class="ct-icons">
                                <span>
                                    <i class="fa fa-bed"></i> @item.Bed
                                </span>
                                <span>
                                    <i class="fa fa-cutlery"></i> @item.Kitchen
                                </span>
                            </div>
                            <div class="ct-text">
                                <span> Area: <span>@item.Area @item.AreaUnit.Title</span></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            }
          
    </div>
    </div>
</section>
<section class="ct-u-paddingBoth60 ct-blog--small">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="ct-heading ct-u-marginBottom30">
                    <h3 class="text-uppercase">About Us</h3>
                </div>
                <div class="ct-u-marginBottom30">
                    <div class="ct-headerText center-block" style="color:black;">
                        <span>Our mission is to bring you the most clean and user friendly real eland portal.</span>
                        <br /><span>We Offer Easy Way to Buy $ Sell Properties. Thanks</span>
                        <br /><span>Here You can Buy Properties From Our Trusted Agents in easy Way</span>
                    </div>
                </div>
                <a href="@Url.Action("About","Home")" class="btn btn-primary btn-transparent--border ct-u-text--motive ct-u-marginBottom30">Read More About Us</a>
            </div>
            <div class="col-md-4">
                <div class="ct-heading ct-u-marginBottom30">
                    <h3 class="text-uppercase">Questions ?</h3>
                </div>
              
               
                <form role="form" action="@Url.Action("Contact","Home")" method="post" class="contactForm validateIt ct-contactForm--small" data-ajax="#res">
                    <div class="form-group">
                        <div class="ct-form--label--type2">
                            <div class="ct-u-displayTableVertical">
                                <div class="ct-u-displayTableCell">
                                    <div class="ct-input-group-btn">
                                        <button class="btn btn-primary">
                                            <i class="fa fa-envelope-o"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="ct-u-displayTableCell text-center">
                                    <span class="text-uppercase">Feel free to contact us</span>
                                </div>
                              
                            </div>
                        </div>
                        <div class="ct-image--section">
                            <img src="~/Images/questions.jpg" alt="">
                        </div>
                        <div class="ct-form--item">
                            <label id="res"></label>
                             <label>Name</label>
                            <input id="contact_name" type="text" required class="form-control input-lg" name="Name" placeholder="">
                        </div>
                        <div class="ct-form--item">
                            <label>Email</label>
                            <input id="contact_email" type="email" class="form-control input-lg" name="Email">
                        </div>
                        <div class="ct-form--item">
                            <label>Phone</label>
                            <input id="contact_phone" type="tel" required class="form-control input-lg" name="Phone" placeholder="">
                        </div>
                        <div class="ct-form--item">
                            <label>Message</label>
                            <textarea id="contact_message" placeholder="" class="form-control input-lg" rows="4" name="Message" required=""></textarea>
                        </div>
                        <div class="ct-form--item last">
                            <button type="submit" class="btn btn-warning text-capitalize center-block">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="ct-mediaSection text-center ct-u-paddingBoth100" data-stellar-background-ratio="0.3" data-height="765" data-type="parallax" data-bg-image="/Images/iconBox-parallax.jpg" data-bg-image-mobile="/Images/iconBox-parallax.jpg">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <div class="ct-heading ct-u-marginBottom60">
                <h3 class="text-uppercase ct-u-text--white">Why Eland?</h3>
            </div>
            <div class="ct-decoration center-block ct-u-marginBottom60">
                <div class="ct-decoration--inner center-block"></div>
            </div>
            <div class="row ct-u-text--white">
                <div class="col-sm-6 col-md-3">
                    <div class="ct-iconBox">
                        <div class="ct-icon ct-iconContainer--circle ct-iconContainer--circleHoverLight center-block ct-u-marginBottom30">
                            <i class="fa fa-bolt"></i>
                        </div>
                        <div class="ct-iconBox--description">
                            <span class="ct-title ct-u-marginBottom20 ct-fw-600">Powerfull</span>
                            <span class="ct-text ct-u-marginBottom20">Eland is designed a way that it was flexible for different types of business.</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="ct-iconBox">
                        <div class="ct-icon ct-iconContainer--circle ct-iconContainer--circleHoverLight center-block ct-u-marginBottom30">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="ct-iconBox--description">
                            <span class="ct-title ct-u-marginBottom20 ct-fw-600">User Oriented</span>
                            <span class="ct-text ct-u-marginBottom20">Eland is designed a way that it was flexible for different types of business.</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="ct-iconBox">
                        <div class="ct-icon ct-iconContainer--circle ct-iconContainer--circleHoverLight center-block ct-u-marginBottom30">
                            <i class="fa fa-heart-o"></i>
                        </div>
                        <div class="ct-iconBox--description">
                            <span class="ct-title ct-u-marginBottom20 ct-fw-600">Beautiful</span>
                            <span class="ct-text ct-u-marginBottom20">Eland is designed a way that it was flexible for different types of business.</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="ct-iconBox">
                        <div class="ct-icon ct-iconContainer--circle ct-iconContainer--circleHoverLight center-block ct-u-marginBottom30">
                            <i class="fa fa-life-ring"></i>
                        </div>
                        <div class="ct-iconBox--description">
                            <span class="ct-title ct-u-marginBottom20 ct-fw-600">Fast support</span>
                            <span class="ct-text ct-u-marginBottom20">Eland is designed a way that it was flexible for different types of business.</span>
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </div>
</section>
