
@using PagedList.Mvc;
@using PagedList;
@model IPagedList<ELand.Models.Property>
@{
    ViewBag.Title = "List";
}

<div class="ct-site--map">
    <div class="container">
        <a href="@Url.Action("Index","Home")">Home</a>
        <a href="@Url.Action("List","Property")">Search Results</a>
    </div>
</div>
<section class="ct-u-paddingTop50 ct-u-paddingBottom60">
    <div class="container">
        <div class="ct-section--products">
            <div class="row">
                <div class="col-md-4 col-lg-3">
                    <div class="ct-js-sidebar">
                        <div class="row">
                            <div class="col-sm-6 col-md-12">
                                <div class="widget">
                                    <div class="widget-inner">
                                        <form method="get" action="@Url.Action("List","Property")" class="ct-formSearch--extended" role="form">
                                            <div class="ct-form--label--type3">
                                                <div class="ct-u-displayTableVertical">
                                                    <div class="ct-u-displayTableCell">
                                                        <div class="ct-input-group-btn">
                                                            <button class="btn btn-primary">
                                                                <i class="fa fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="ct-u-displayTableCell text-center">
                                                        <span class="text-uppercase">Search for property</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <div class="ct-form--item ct-u-marginBoth10">
                                                    <label>Property id</label>
                                                    <input type="text" name="Id" class="form-control input-lg" placeholder="Any">
                                                </div>
                                                <div class="ct-form--item ct-u-marginBottom10">
                                                    <label>Location</label>
                                                    @Html.DropDownList("CityId", null,"Any", htmlAttributes: new { @class = "ct-js-select ct-select-lg" })
                                                
                                                </div>
                                               
                                                <div class="ct-form--item ct-u-marginBottom10">
                                                    <label>Property Status</label>
                                                    @Html.DropDownList("PropertyStatus", null, "Any", htmlAttributes: new { @class = "ct-js-select ct-select-lg" })
                                              
                                                </div>
                                                <div class="ct-form--item ct-u-marginBottom10">
                                                    <label>Property type </label>
                                                    @Html.DropDownList("PropertyType", null, "Any", htmlAttributes: new { @class = "ct-js-select ct-select-lg" })


                                                </div>
                                                <div class="ct-u-displayTableVertical ct-slider--row ct-u-marginBottom10">
                                                    <div class="ct-u-displayTableCell">
                                                        <div class="ct-form--item">
                                                            <label>Bedrooms</label>
                                                            <select name="BedRoom" class="ct-js-select ct-select-lg">
                                                                <option value="0">Any</option>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3+</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="ct-u-displayTableCell">
                                                        <div class="ct-form--item">
                                                            <label>Bathrooms</label>
                                                            <select name="BathRoom" class="ct-js-select ct-select-lg">
                                                                <option value="0">Any</option>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3+</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ct-form--item ct-u-marginBoth40">
                                                    <input name="Price" type="text" class="slider ct-js-sliderTicks" value="" data-slider-handle="square" data-slider-min="1000" data-slider-max="500000000" data-slider-step="1000" data-slider-value="[1000,20000]" />
                                                    <label class="text-center center-block">Price ($)</label>
                                                </div>
                                                @*<div class="ct-u-displayTableCell">
                                                    <input name="Area" type="text" class="slider ct-js-sliderTicks" value="" data-slider-handle="square" data-slider-min="0" data-slider-max="200" data-slider-step="20" data-slider-value="[60,120]" />
                                                    <label class="text-center center-block">Area (m2)</label>
                                                </div>*@
                                                <button type="submit" class="btn btn-warning ct-u-marginTop10">Search or Filter Now</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                         @{Html.RenderAction("Feature","Property");}
                         @{Html.RenderAction("Recent", "Property");}
                        </div>
                    </div>
                </div>
               @if (Model.Count() > 0) { 
                 <div class="col-md-8 col-lg-9">
                    <div class="ct-sortingBar ct-u-paddingRight10 ct-u-paddingLeft10 ct-u-marginBottom30">
                        <div class="ct-sortingTitle pull-left">
                            <h4 class="text-uppercase">Search Results<span> (@ViewBag.Total)</span></h4>
                        </div>
                       @*<ul class="list-inline list-unstyled pull-right ct-u-paddingBoth15">
                            <li>
                                <form>
                                    <select data-ajax=""  class="ct-js-select">
                                        <option value="id">Sort by</option>
                                        <option value="price">Price</option>
                                        <option value="newness">Newness</option>
                                        <option value="rating">Rating</option>
                                        <option value="popularity">Popularity</option>
                                    </select>
                                </form>
                            </li>
                            <li>
                                <form>
                                    <select class="ct-js-select">
                                        <option value="nine">12 items</option>
                                        <option value="eighteen">15 items</option>
                                        <option value="eighteen">21 items</option>
                                        <option value="twentyseven">36 items</option>
                                        <option value="fourtyfive">45 items</option>
                                        <option value="ninety">90 items</option>
                                    </select>
                                </form>
                            </li>
                        </ul>*@
                        
                        <ul class="ct-showPages list-inline list-unstyled pull-right ct-u-paddingBoth15">
                            <li class="ct-showElements is-active" id="ct-js-showTiles">
                                <a href="#">
                                    <i class="fa fa-th fa-fw"></i>
                                </a>
                            </li>
                            <li class="ct-showElements" id="ct-js-showList">
                                <a href="#">
                                    <i class="fa fa-th-list fa-fw"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="row ct-js-search-results ct-showProducts--default">

                        @foreach (var item in Model) { 
                        <div class="col-sm-6 col-md-6 col-lg-4" >
                            <div class="ct-itemProducts ct-u-marginBottom30 ct-hover">
                                @if (item.Purpose.Title == "Sale") { 
                                <label class="control-label sale">
                                    Sale
                                </label>}
                                else
                                {

                                    <label class="control-label new">
                                        @item.Purpose.Title
                                    </label>
                                }
                                <a href="@Url.Action("Index", "Property", new { id=@item.Id})">
                                    <div class="ct-main-content">
                                        <div class="ct-imageBox">
                                            <img src="~/Images/Property/@item.GlobalId/@item.MainImage" alt=""><i class="fa fa-eye"></i>
                                        </div>
                                        <div class="ct-main-text">
                                            <div class="ct-product--tilte">
                                                @{string s = item.Address; if (item.Address.Length > 12) { s = item.Address.Substring(0, 12); }}@s, @item.City.Name
                                            </div>
                                            <div class="ct-product--price">
                                                @*<span class="ct-price--Old">$ 450,000</span>*@
                                                <span>@item.Price PKR</span>
                                            </div>
                                            <div class="ct-product--description">
                                                @{string r = item.Description; if (r.Length > 55) { r = item.Description.Substring(0, 55); }}@r
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ct-product--meta">
                                        <div class="ct-icons">
                                            <span>
                                                <i class="fa fa-bed"></i> @item.Bed
                                            </span>
                                            <span>
                                                <i class="fa fa-cutlery"></i> @item.Kitchen
                                            </span>
                                        </div>
                                        <div class="ct-text">
                                            <span> Area: <span>@item.Area @item.AreaUnit.Title</span></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        }
                    </div>
                    <div class="ct-pagination text-center">
                        @Html.PagedListPager(Model, page => Url.Action("List", new { page, Id = Request.QueryString["Id"], CityId = Request.QueryString["CityId"], PropertyStatus = Request.QueryString["PropertyStatus"], PropertyType = Request.QueryString["PropertyType"], BedRoom = Request.QueryString["BedRoom"], BathRoom = Request.QueryString["BathRoom"], Price = Request.QueryString["Price"] }))
                        @*<ul class="pagination">
                            <li><a href="#" aria-label="Previous"><span aria-hidden="true"><i class="fa fa-angle-left"></i></span></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#" aria-label="Next"><span aria-hidden="true"><i class="fa fa-angle-right"></i></span></a></li>
                        </ul>*@
                    </div>
                </div>
               }
               else { 
               <div class="col-md-8 text-center">
                   <h3>Sorry No Match Found!</h3>
               </div>
               
               }
            </div>
        </div>
    </div>
</section>
