@model IEnumerable<ELand.Models.Property>

<div class="col-sm-6 col-md-12">
    <div class="widget ct-widget--recentlyReduced">
        <div class="widget-inner">
            <h4 class="text-uppercase">Recently Added</h4>
@foreach (var item in Model) {
            <div class="ct-itemProducts--small ct-itemProducts--small-type1">
                <a href="@Url.Action("Index", "Property", new { id=item.Id})">
                    <div class="ct-main-content">
                        <div class="ct-imageBox">
                            <img src="~/Images/Property/@item.GlobalId/@item.MainImage" alt="">
                        </div>
                        <div class="ct-main-text">
                            <div class="ct-product--tilte">
                                @item.Title
                            </div>
                            <div class="ct-product--price">
                                <span class="ct-price">@item.Price PKR</span>
                                <span>@item.PublishDate.ToShortDateString()</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

}        
    <a class="btn btn-primary btn-transparent--border ct-u-text--motive" href="@Url.Action("List", "Property")">View Recent Added</a>
        </div>
    </div>
</div>


   